@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100vh;
}
h1,
h2 {
    color: #06283d;
    font-size: 32px;
}
h3 {
    color: #1363df;
}
h4 {
    color: #47b5ff;
}
p {
    color: black;
}
header.header-portfolio {
    background: #06283d;
}
h2.title-portfolio {
    color: white;
    margin-left: 30px;
}

ul.menu-portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 60px;
}

ul.menu-portfolio li.li-menu-portfolio {
    list-style: none;
    margin: 0 20px;
    transition: 0.7s;
}

ul.menu-portfolio li.li-menu-portfolio a.a-menu-portfolio {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}
ul.menu-portfolio:hover li.li-menu-portfolio a.a-menu-portfolio {
    transform: scale(1.3);
    opacity: 0.2;
    filter: blur(5px);
}

ul.menu-portfolio li.li-menu-portfolio a.a-menu-portfolio:hover {
    transform: scale(1.8);
    opacity: 1;
    filter: blur(0);
}
ul.menu-portfolio li.li-menu-portfolio a.a-menu-portfolio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1363df;
    transition: transform 0.7s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
ul.menu-portfolio li.li-menu-portfolio a.a-menu-portfolio:hover::before {
    background: #1363df;
    transition: transform 0.7s;
    transform-origin: left;
    transform: scaleX(1);
}

section.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
section.cabecalho {
    margin-top: 50px;
}
.box-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-cabecalho {
    border: solid 2px #06283d;
    background: #dff6ff;
    padding: 20px;
    border-radius: 15px;
}
img.foto-perfil {
    border-radius: 100%;
    border: solid 2px #06283d;
}
hr {
    color: #06283d;
    border-width: 1.5px;
    width: 390px;
    background: #06283d;
    border-style: solid;
}
h3.h3-apresentacao {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 900;
}
.botoes-sobre-mim {
    margin-top: 30px;
    margin-bottom: 30px;
}

a.btn-info {
    position: relative;
    background: white;
    color: var(--clr);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 10px;
    transition: 0.5s;
    border: solid 1.5px var(--clr);
}
a.btn-info:hover {
    background: var(--clr);
    letter-spacing: 0.08em;
    color: white;
    box-shadow: 0 0 35px var(--clr);
}

h2.title-apresentacao {
    margin: 0;
    padding: 0;
}

header.header-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.texto-sobre-mim {
    width: 1080px;
}
.icones-sobre-mim {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}
.nome {
    text-align: center;
}
.email {
    text-align: center;
    margin-right: 10px;
}
.github {
    text-align: center;
    margin-right: 10px;
}
.telefone {
    text-align: center;
    margin-right: 10px;
}
section.projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h3.title-projeto {
    text-align: center;
    margin: 0;
}
h4.tecnologias-projeto {
    text-align: center;
}
.title-projetos {
    text-align: center;
}
.box-sobre-mim {
    width: 800px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
}

.box-sobre-mim::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-top: solid 20px #06283d;
    border-left: solid 20px #06283d;
    box-sizing: border-box;
}
.box-sobre-mim::after {
    content: "";
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-bottom: solid 20px #06283d;
    border-right: solid 20px #06283d;
    box-sizing: border-box;
}
.text-sobre-mim {
    position: absolute;
    top: 30px;
    left: -30px;
    background: #262626;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;
}

.text-sobre-mim .texto-div {
    padding: 40px 80px;
    box-sizing: border-box;
    text-align: center;
    z-index: 3;
}
.text-sobre-mim .texto-div h2 {
    color: white;
    margin: 0 0 20px;
}
.text-sobre-mim .texto-div p {
    color: white;
    margin: 0 0 20px;
    font-size: 18px;
}
.box-sobre-mim:hover .text-sobre-mim {
    transform: rotateY(30deg) skewY(-5deg);
}
.box-sobre-mim:hover {
    transform: rotateY(-30deg) skewY(5deg);
}
.box-servico {
    background: #dff6ff;
    border: solid 2px #06283d;
    margin: 15px;
    border-radius: 10px;
}
.linha-servicos-1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
h3.title-servico {
    text-align: center;
}
h2.title-servicos {
    text-align: center;
}

h2.title-skills {
    text-align: center;
}
.copyright {
    text-align: center;
    border-top: 2px solid #06283d;
}
div.copyright > p {
    color: #06283d;
}
.icones-sobre-mim .email path {
    fill: transparent;
    stroke-width: 10;
    stroke: #06283d;
}
.icones-sobre-mim .github path {
    fill: transparent;
    stroke-width: 10;
    stroke: black;
}
.icones-sobre-mim .telefone path {
    fill: transparent;
    stroke-width: 10;
    stroke: #34af23;
}
.icones-sobre-mim .linkedin path {
    fill: transparent;
    stroke-width: 10;
    stroke: #06283d;
}
.icones-sobre-mim .email path {
    stroke-dasharray: 1700;
    stroke-dashoffset: 0;
}
.icones-sobre-mim .email:hover path {
    animation: animate-email 1.2s linear forwards;
}

@keyframes animate-email {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1700;
    }
    80% {
        stroke-dashoffset: 3400;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3400;
        fill: #06283d;
    }
}

.icones-sobre-mim .github path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
}
.icones-sobre-mim .github:hover path {
    animation: animate-github 1.2s linear forwards;
}

@keyframes animate-github {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 3000;
    }
    80% {
        stroke-dashoffset: 6000;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 6000;
        fill: black;
    }
}
.icones-sobre-mim .telefone path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
}
.icones-sobre-mim .telefone:hover path {
    animation: animate-telefone 1.2s linear forwards;
}

@keyframes animate-telefone {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 2000;
    }
    80% {
        stroke-dashoffset: 4000;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 4000;
        fill: #34af23;
    }
}
.icones-sobre-mim .linkedin path {
    stroke-dasharray: 1800;
    stroke-dashoffset: 0;
}
.icones-sobre-mim .linkedin:hover path {
    animation: animate-linkedin 1.2s linear forwards;
}

@keyframes animate-linkedin {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1800;
    }
    80% {
        stroke-dashoffset: 3600;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3600;
        fill: #06283d;
    }
}

.teclas {
    margin-top: 30px;
    margin-bottom: 15px;
}

span.tecla {
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    width: 67px;
    height: 80px;
    background: linear-gradient(180deg, #282828, #202020);
    border-radius: 10px;
    box-shadow: inset -8px 0 8px rbga(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

span.tecla:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px -10px 10px rgba(255, 255, 255, 0.25),
        10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: solid 1px #0004;
    border-bottom: solid 1px #0004;
    border-top: solid 1px #0009;
}

span.tecla i {
    position: relative;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5em;
}
.projetos-linha-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}
.containerTab h2 {
    color: white;
}
.containerTab p {
    color: white;
    font-size: 18px;
}
.row {
    display: flex;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.box-projeto {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    body,
    html {
        width: 100%;
        height: 100vh;
    }
    header.header-portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    ul.menu-portfolio {
        margin: 0;
        padding: 0;
        display: flex;
        margin-right: 0;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    ul.menu-portfolio li.li-menu-portfolio {
        list-style: none;
        margin: 0px 5px 20px 0px;
        transition: 0.7s;
    }
    .box-sobre-mim {
        width: 300px;
        height: 500px;
        transform-style: preserve-3d;
        perspective: 2000px;
        transition: 0.5s;
    }
    .text-sobre-mim .texto-div {
        padding: 50px 50px 0px 20px;
        box-sizing: border-box;
        text-align: center;
        z-index: 3;
    }
    .projetos-linha-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    span.tecla {
        position: relative;
        display: inline-block;
        padding: 8px 15px;
        width: 50px;
        height: 65px;
        background: linear-gradient(180deg, #282828, #202020);
        border-radius: 10px;
        box-shadow: inset -8px 0 8px rbga(0, 0, 0, 0.15),
            inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
            10px 20px 25px rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }
    .box-projeto {
        padding: 0;
        margin: 0;
    }
    .box-cabecalho {
        border: solid 2px #06283d;
        background: #dff6ff;
        padding: 0;
        border-radius: 15px;
        margin-left: 15px;
    }
    h3.h3-apresentacao {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
    }
}
